/* .card{
    max-width:auto;
    min-height:50px;
    
}


.s{
width:250px;
height:90px;
position: relative;
font-size: 45px;
}
.md{
    max-height:500px;
    max-width:700px;
    overflow: auto;
    position: relative;
    
}

.dropdown{
    position: relative;
    padding-right: 20px;

} */

/* width */
/* ::-webkit-scrollbar {
    width: 0px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px; 
    border-radius: 10px;
}
  */
/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
} */

/* .md,.s{
    background-color: white;
    border-radius: 10px;
} */

/* from HOD */
